@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Chakra+Petch&family=Kaushan+Script&family=Raleway:wght@200;300;500;600&family=Righteous&family=Roboto&family=Russo+One&family=Satisfy&family=Vina+Sans&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
}

/* Header */

header {
    width: 100%;  
}

.nav1 {
    background-color: #222222;
    color:#F3F3F3;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
}


.lenguaje {
    padding: 0 3%;
}

select {
    background-color: #222222;
    border: none;
    color: white;
    margin-left: 0.5em;
}

nav {
    align-items: center;
    background-color: #F0A83E;
    display: flex; 
    justify-content: space-between;
    text-align: center;
}

header h1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    margin: 20px;
    letter-spacing: 1.5px;
}

.front {
    color: #3C2313;
}

header a, .imgNav a {
    text-decoration: none;
    color: #FFFFFF;
}

.listaNav{
    width: 65%;
    display: flex;
    gap: 2em;
    list-style-type: none;
}

header span {
    color:#FFFFFF;
}


/* Main */

.imgNav {
    background-image: url(/img/tazon.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 60vh;
    color: #3C2313;
}

.infoPrincipal {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 15px;
    text-align: center;  
    margin: 20px;
}

h2 {
    padding: 10px;
    border-radius: 5px;
    background: white;
    letter-spacing: 0.1em;
}

.comederos {
    padding: 1.2em;  
}

.btnComederos {
    background-color: #F0A83E;
    border-radius: 5px;
    padding: 15px 23px;
    text-transform: uppercase; 
}


.menuPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-top: 30px;
}

.opciones {
    display: flex;
    list-style-type: none;
    font-size: 15px; 
    color: #666666;   
    margin-right: 45px;
}


.opciones a{
    color: #666666;
    text-decoration: none;
}

.opciones span {
    padding: 20px;  
}


.productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}


.imgProductos {
    padding: 0 auto;
   width: 250px;
   background-color: #3C2313;
}

.descripcion {
    text-align: center;
    font-size: 15px;
    color: #3C2313;
}

.menuPrincipal h3 {
    text-transform: capitalize;
    font-size: 35px;
}

h4 {
    text-transform: capitalize;  
}

.descripcion span {
    color: #F0A83E;
}

.sectionContact {
    width: 40%;
}

.sectionContact h3 {
    padding-top: 40px;
    font-size: 25px;
    text-align: center;
}

.menuPrincipal .sectionContact input {
    background-color:#3C2313;
    border-radius: 15px;
    display: flex;
    margin-bottom: 15px;
    width: 90%;
    padding: 20px 10px;
    caret-color: white;
    color: white;
}

.menuPrincipal input::placeholder {
    color: rgba(255, 255, 255, 0.507);
  }

.optionsContact {
    border-radius: 28px;
    padding: 0.5em 2em;
    color: white;
    font-size: 16px;
    border-style: none;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    
}

#reset:hover, #submit:hover {
    background-color: #bcb4b4;
    cursor: pointer;
}

#reset:active, #submit:active {
    background-color: #ca7541;
}

#reset {
    background-color: #8A8787;
}

#submit {
    background-color: #F0A83E;
}

/* Footer */
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 82px;
    width: 100%;
}

.suscripcion {
    align-items: center;
    background-color: #F0A83E;
    display: flex;   
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;    
}

.suscribe {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.form {
    display: flex;
    padding: 10px 20px;
    gap: 30px;
    margin-left: 10px;
}


.suscripcion h4 {
    font-size: 20px;
    color: white;
}

.suscripcion input {
    border-radius: 15px;
    width: 90%;
    border-style: none;
    padding: 10px 20px;
}


.suscripcion button {
    background-color: #3C2313;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border-style: none;

}

.bx-mail-send {
    color:#ffffff;
    font-size: 40px;
    padding-left: 30px;  
}

.comunicacion {
    background-color: #3C2313;
    padding: 30px 0;
    width: 100%;  
    align-items: center;
    display: flex; 
    justify-content: space-between;
    flex-flow: row-reverse wrap;
    
}

article {
    display: flex;
    line-height: 0.3em;
    align-items: center;
    gap: 15px;
    padding: 5px 4em; 
    margin-top: 20px;
}

.comunicacion h3 {
    font-size: 20px;
    color: white;
   
}

.comunicacion p {
   font-size: 10px;
   color: #8A8787;
}

.logoFooter {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-size: 20px;
    margin: 0 80px;
 
    letter-spacing: 1.5px;
}

footer .front {
    color: #F0A83E;
}

footer span {
    color: white;
}

.pie {
    background-color: #222222;
    color: white;
    width: 100%;
    text-align: center;
}




